:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #071527;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #fbc126;
  text-decoration: inherit;
}

a:hover {
  color: #cf3cb5;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #cf3cb5;
  margin-top: 0px;
}

/* Buttons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fbc126;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
}

button:hover {
  border-color: #fbc126;
  background-color: #6b42ca;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  outline-color: #fbc126;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #335581;
    background-color: #ffffff;
  }

  a {
    color: #335581;
  }

  a:hover {
    color: #cf3cb5;
  }

  button {
    background-color: #fbc126;
    color: #335581;
  }

  button:hover {
    border-color: #cf3cb5;
    background-color: #6b42ca;
    color: #ffffff;
  }
}

#donation-amount {
  border: 2px solid transparent;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  color: #071527;
  border-radius: 10px;
  transition: all 0.5s;
}

#donation-amount:hover,
#donation-amount:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}